:root {

    /* Colors */

    --color-white: #FFFFFF;

    --color-black: #000000;

    --color-red: #E74A3B;

    --color-lightblue: #36B9CC;

    --color-blue: #3E6678;

    --color-green: #1CC88A;

    --color-yellow: #F6C23E;

    --color-orange: #F57C00;

    --color-grey: #EDE8E5;

    --color-grey1: #FAFAFA;

    --color-grey2: #EEEEEE;

    --color-grey3: #E0E0E0;

    --color-grey4: #9E9E9E;

    --color-grey5: #757575;

    --color-grey6: #212121;



    /* Spaces */

    --space-none: 0;

    --space-xxs: 5px;

    --space-xs: 10px;

    --space-sm: 15px;

    --space-md: 20px;

    --space-lg: 25px;

    --space-xl: 30px;

    --space-xxl: 50px;

    --space-xxxl: 75px;

    --space-xxxxl: 100px;



    /* Percentages */

    --percent-none: 0;

    --percent-xs: 10%;

    --percent-sm: 25%;

    --percent-md: 40%;

    --percent-half: 50%;

    --percent-lg: 60%;

    --percent-xl: 75%;

    --percent-xxl: 90%;

    --percent-full: 100%;



    /* Font sizes */

    --font-xs: 8px;

    --font-sm: 10px;

    --font-md: 12px;

    --font-lg: 15px;

    --font-xl: 16px;

    --font-xxl: 18px;

    --font-h6: 20px;

    --font-h5: 24px;

    --font-h4: 28px;

    --font-h3: 32px;

    --font-h2: 40px;

    --font-h1: 48px;



    /* Durations */

    --duration-xs: 50ms;

    --duration-sm: 100ms;

    --duration-md: 150ms;

    --duration-lg: 250ms;

    --duration-xl: 500ms;

    --duration-xxl: 1000ms;



    /* Opacity */

    --opacity-none: 0;

    --opacity-xs: 0.1;

    --opacity-sm: 0.25;

    --opacity-md: 0.5;

    --opacity-lg: 0.75;

    --opacity-xl: 0.9;

    --opacity-xxl: 0.95;

    --opacity-full: 1;

}



/* Margins */



.margin-none, .margin-0 {

    margin: 0;

}



.margin-xxs, .margin-xxsmall, .margin-1 {

    margin: 5px;

}



.margin-xs, .margin-xsmall, .margin-2 {

    margin: 10px;

}



.margin-sm, .margin-small, .margin-3 {

    margin: 15px;

}



.margin-md, .margin-medium, .margin-4 {

    margin: 20px;

}



.margin-lg, .margin-large, .margin-5 {

    margin: 25px;

}



.margin, .margin-xl, .margin-xlarge, .margin-6 {

    margin: 30px;

}



.margin-xxl, .margin-xxlarge, .margin-7 {

    margin: 50px;

}



/* Margin Top */



.margin-top-none, .margin-top-0 {

    margin-top: 0;

}



.margin-top-xxs, .margin-top-xxsmall, .margin-top-1 {

    margin-top: 5px;

}



.margin-top-xs, .margin-top-xsmall, .margin-top-2 {

    margin-top: 10px;

}



.margin-top-sm, .margin-top-small, .margin-top-3 {

    margin-top: 15px;

}



.margin-top-md, .margin-top-medium, .margin-top-4 {

    margin-top: 20px;

}



.margin-top-lg, .margin-top-large, .margin-top-5 {

    margin-top: 25px;

}



.margin-top, .margin-top-xl, .margin-top-xlarge, .margin-top-6 {

    margin-top: 30px;

}



.margin-top-xxl, .margin-top-xxlarge, .margin-top-7 {

    margin-top: 50px;

}



/* Margin Right */



.margin-right-none, .margin-right-0 {

    margin-right: 0;

}



.margin-right-xxs, .margin-right-xxsmall, .margin-right-1 {

    margin-right: 5px;

}



.margin-right-xs, .margin-right-xsmall, .margin-right-2 {

    margin-right: 10px;

}



.margin-right-sm, .margin-right-small, .margin-right-3 {

    margin-right: 15px;

}



.margin-right-md, .margin-right-medium, .margin-right-4 {

    margin-right: 20px;

}



.margin-right-lg, .margin-right-large, .margin-right-5 {

    margin-right: 25px;

}



.margin-right, .margin-right-xl, .margin-right-xlarge, .margin-right-6 {

    margin-right: 30px;

}



.margin-right-xxl, .margin-right-xxlarge, .margin-right-7 {

    margin-right: 50px;

}



/* Margin Bottom */



.margin-bottom-none, .margin-bottom-0 {

    margin-bottom: 0;

}



.margin-bottom-xxs, .margin-bottom-xxsmall, .margin-bottom-1 {

    margin-bottom: 5px;

}



.margin-bottom-xs, .margin-bottom-xsmall, .margin-bottom-2 {

    margin-bottom: 10px;

}



.margin-bottom-sm, .margin-bottom-small, .margin-bottom-3 {

    margin-bottom: 15px;

}



.margin-bottom-md, .margin-bottom-medium, .margin-bottom-4 {

    margin-bottom: 20px;

}



.margin-bottom-lg, .margin-bottom-large, .margin-bottom-5 {

    margin-bottom: 25px;

}



.margin-bottom, .margin-bottom-xl, .margin-bottom-xlarge, .margin-bottom-6 {

    margin-bottom: 30px;

}



.margin-bottom-xxl, .margin-bottom-xxlarge, .margin-bottom-7 {

    margin-bottom: 50px;

}



/* Margin Left */



.margin-left-none, .margin-left-0 {

    margin-left: 0;

}



.margin-left-xxs, .margin-left-xxsmall, .margin-left-1 {

    margin-left: 5px;

}



.margin-left-xs, .margin-left-xsmall, .margin-left-2 {

    margin-left: 10px;

}



.margin-left-sm, .margin-left-small, .margin-left-3 {

    margin-left: 15px;

}



.margin-left-md, .margin-left-medium, .margin-left-4 {

    margin-left: 20px;

}



.margin-left-lg, .margin-left-large, .margin-left-5 {

    margin-left: 25px;

}



.margin-left, .margin-left-xl, .margin-left-xlarge, .margin-left-6 {

    margin-left: 30px;

}



.margin-left-xxl, .margin-left-xxlarge, .margin-left-7 {

    margin-left: 50px;

}





/* Paddings */



.padding-none, .padding-0 {

    padding: 0;

}



.padding-xxs, .padding-xxsmall, .padding-1 {

    padding: 5px;

}



.padding-xs, .padding-xsmall, .padding-2 {

    padding: 10px;

}



.padding-sm, .padding-small, .padding-3 {

    padding: 15px;

}



.padding-md, .padding-medium, .padding-4 {

    padding: 20px;

}



.padding-lg, .padding-large, .padding-5 {

    padding: 25px;

}



.padding, .padding-xl, .padding-xlarge, .padding-6 {

    padding: 30px;

}



.padding-xxl, .padding-xxlarge, .padding-7 {

    padding: 50px;

}



/* Padding Top */



.padding-top-none, .padding-top-0 {

    padding-top: 0;

}



.padding-top-xxs, .padding-top-xxsmall, .padding-top-1 {

    padding-top: 5px;

}



.padding-top-xs, .padding-top-xsmall, .padding-top-2 {

    padding-top: 10px;

}



.padding-top-sm, .padding-top-small, .padding-top-3 {

    padding-top: 15px;

}



.padding-top-md, .padding-top-medium, .padding-top-4 {

    padding-top: 20px;

}



.padding-top-lg, .padding-top-large, .padding-top-5 {

    padding-top: 25px;

}



.padding-top, .padding-top-xl, .padding-top-xlarge, .padding-top-6 {

    padding-top: 30px;

}



.padding-top-xxl, .padding-top-xxlarge, .padding-top-7 {

    padding-top: 50px;

}



/* Padding Right */



.padding-right-none, .padding-right-0 {

    padding-right: 0;

}



.padding-right-xxs, .padding-right-xxsmall, .padding-right-1 {

    padding-right: 5px;

}



.padding-right-xs, .padding-right-xsmall, .padding-right-2 {

    padding-right: 10px;

}



.padding-right-sm, .padding-right-small, .padding-right-3 {

    padding-right: 15px;

}



.padding-right-md, .padding-right-medium, .padding-right-4 {

    padding-right: 20px;

}



.padding-right-lg, .padding-right-large, .padding-right-5 {

    padding-right: 25px;

}



.padding-right, .padding-right-xl, .padding-right-xlarge, .padding-right-6 {

    padding-right: 30px;

}



.padding-right-xxl, .padding-right-xxlarge, .padding-right-7 {

    padding-right: 50px;

}



/* Padding Bottom */



.padding-bottom-none, .padding-bottom-0 {

    padding-bottom: 0;

}



.padding-bottom-xxs, .padding-bottom-xxsmall, .padding-bottom-1 {

    padding-bottom: 5px;

}



.padding-bottom-xs, .padding-bottom-xsmall, .padding-bottom-2 {

    padding-bottom: 10px;

}



.padding-bottom-sm, .padding-bottom-small, .padding-bottom-3 {

    padding-bottom: 15px;

}



.padding-bottom-md, .padding-bottom-medium, .padding-bottom-4 {

    padding-bottom: 20px;

}



.padding-bottom-lg, .padding-bottom-large, .padding-bottom-5 {

    padding-bottom: 25px;

}



.padding-bottom, .padding-bottom-xl, .padding-bottom-xlarge, .padding-bottom-6 {

    padding-bottom: 30px;

}



.padding-bottom-xxl, .padding-bottom-xxlarge, .padding-bottom-7 {

    padding-bottom: 50px;

}



/* Padding Left */



.padding-left-none, .padding-left-0 {

    padding-left: 0;

}



.padding-left-xxs, .padding-left-xxsmall, .padding-left-1 {

    padding-left: 5px;

}



.padding-left-xs, .padding-left-xsmall, .padding-left-2 {

    padding-left: 10px;

}



.padding-left-sm, .padding-left-small, .padding-left-3 {

    padding-left: 15px;

}



.padding-left-md, .padding-left-medium, .padding-left-4 {

    padding-left: 20px;

}



.padding-left-lg, .padding-left-large, .padding-left-5 {

    padding-left: 25px;

}



.padding-left, .padding-left-xl, .padding-left-xlarge, .padding-left-6 {

    padding-left: 30px;

}



.padding-left-xxl, .padding-left-xxlarge, .padding-left-7 {

    padding-left: 50px;

}





/* Alignments */



.text-left {

    text-align: left;

}



.text-center {

    text-align: center;

}



.text-right {

    text-align: right;

}



.float-left {

    float: left;

}



.float-right {

    float: right;

}





/* Z-Index */



.z-0 {

    z-index: 0;

}



.z-1 {

    z-index: 1;

}



.z-2 {

    z-index: 2;

}



.z-3 {

    z-index: 3;

}



.z-4 {

    z-index: 4;

}



.z-5 {

    z-index: 5;

}



.z-6 {

    z-index: 6;

}



.z-7 {

    z-index: 7;

}



.z-8 {

    z-index: 8;

}



.z-9 {

    z-index: 9;

}



.z-10 {

    z-index: 10;

}





/* Positioning */



body:not(.wp-admin) .static {

    position: static;

}



body:not(.wp-admin) .relative {

    position: relative;

}



body:not(.wp-admin) .absolute {

    position: absolute;

}



body:not(.wp-admin) .fixed {

    position: fixed;

}



body:not(.wp-admin) .sticky {

    position: -webkit-sticky;

    position: sticky;

}



.flex-center,

.flexcenter {

    display: -webkit-flex;

    display: flex;

    -webkit-align-items: center;

    align-items: center;

    -webkit-justify-content: center;

    justify-content: center;

    flex-direction: column;

}



.flex-center-row,

.flexcenterrow {

    display: -webkit-flex;

    display: flex;

    -webkit-align-items: center;

    align-items: center;

    -webkit-justify-content: center;

    justify-content: center;

    flex-direction: row;

}





/* Bootstrap Grid Extensions */



.container-small, .container-large {

    width: 100%;

    padding-right: 15px;

    padding-left: 15px;

    margin-right: auto;

    margin-left: auto;

}



@media (min-width: 576px) {

    .container-small {

        max-width: 490px;

    }



    .container-large {

        max-width: 540px;

    }

}



@media (min-width: 768px) {

    .container-small {

        max-width: 620px;

    }



    .container-large {

        max-width: 720px;

    }

}



@media (min-width: 992px) {

    .container-small {

        max-width: 780px;

    }



    .container-large {

        max-width: 960px;

    }

}



@media (min-width: 1200px) {

    .container-small {
        max-width: 940px;
    }



    .container-large {
        max-width: 1180px;
    }

}



@media (min-width: 1600px) {

    .container-large {

        max-width: 1400px;

    }

}

@media (min-width: 3000px) {

    .container-large {
        max-width: 2500px;
    }

}





/* Miscellaneous */


.maxwidth {

    max-width: 100%;

    height: auto;

}



.maxwidth img {

    max-width: 100%;

    height: auto;

}



.smalltext, .small-text {

    font-size: 12px;

}



.tinytext, .tiny-text {

    font-size: 10px;

}



.shadow {

    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}



.dots {

    list-style-type: circle;

    margin-left: 20px;

}



.strikethrough {

    text-decoration: line-through;

}



.rounded {

    -webkit-border-radius: 15px;

    -moz-border-radius: 15px;

    border-radius: 15px;

}



.round, .circle {

    -webkit-border-radius: 50%;

    -moz-border-radius: 50%;

    border-radius: 50%;

}



.noscroll, .o-hidden, .overflow-hidden {

    overflow: hidden;

}



.o-scroll, .overflow-scroll {

    overflow: scroll;

}



.size-auto,

.size-full,

.size-large,

.size-medium,

.size-small,

.size-thumbnail {

    max-width: 100%;

    height: auto;

}



/* Text meant only for screen readers. */



.screen-reader-text {

    border: 0;

    clip: rect(1px, 1px, 1px, 1px);

    -webkit-clip-path: inset(50%);

    clip-path: inset(50%);

    height: 1px;

    margin: -1px;

    overflow: hidden;

    padding: 0;

    position: absolute !important;

    width: 1px;

    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

}



.screen-reader-text:focus {

    background-color: #EEEEEE;

    clip: auto !important;

    -webkit-clip-path: none;

    clip-path: none;

    color: #444444;

    display: block;

    font-size: 1em;

    height: auto;

    left: 5px;

    line-height: normal;

    padding: 15px 23px 14px;

    text-decoration: none;

    top: 5px;

    width: auto;

    z-index: 100000;

}