/* Generell */
section>.container-large {
	position: relative;
	margin: 15px auto;
	padding: 0px 15px 25px;
}

body.dark {
	color: white;
	background-color: #0f0f0f;
}

body.dark header a,
body.dark footer a,
body.dark section a {
	color: white;
}

body.dark .pages .page-list > div:not(:nth-of-type(-n+2)):hover::after{
	background-color: #302f2f;
}

body.dark input {
	color: white;
	background-color: #302f2f;
	border-color: #302f2f;
}

body.dark select,
body.dark textarea {
	background-color: #302f2f;
	border-color: #302f2f;
}

body.dark .pages select {
	color: white;
}

body.dark textarea {
	color:white
}

body.dark .pages .blocks .block:nth-of-type(2n) textarea,
body.dark .pages .blocks .block:nth-of-type(2n) input {
	background-color: #464646;
}

body.dark .pages .blocks .block:nth-of-type(2n)::after {
	background-color: #202020;
}

body.dark .new-block-page table tr td:last-of-type button {
	background-color: #302f2f;
}

body.dark section>.container-large::after {
	border-bottom: 1px solid white;
}

body.dark .theme .light {
	display: block;
}

body.dark .theme .dark {
	display: none;
}

header .theme {
	padding: 0 5px;
	display: block;
	cursor: pointer;
}

.theme .light {
	display: none;
}

section>.container-large::after {
	content: "";
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 0;
	height: 2px;
	border-bottom: 1px solid black;
}

.msg {
	display: flex;
	padding: 6px 10px;
	margin-bottom: 10px;
	flex-direction: row;
	position: relative;
	color: black;
}

.msg::after {
	content: "";
	z-index: -1;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.msg.success::after {
	background-color: #1cc88a;
}

.msg.fail::after {
	background-color: #e74a3b;
}

.msg .icon {
	margin-right: 10px;
}

.field {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
}

.input-wrapper,
.field-infos,
.choose-block-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

p {
	margin-bottom: unset !important;
}

button {
	margin-top: 10px !important;
	background-color: #ccc;
	outline: 0;
	border: none;
	padding: 5px 20px;
	box-shadow: none;
	transition: 200ms;
}

button:hover,
button:active,
button:focus {
	background-color: #6b6b6b;
	color: white;
}

label {
	margin-bottom: 5px;
}

input {
	width: 100%;
	padding: 5px 5px;
}

section a {
	color: black;
}

section h1 {
	font-size: 30px;
	margin-bottom: unset;
	margin-top: 15px;
	display: inline-block;
}

section h2 {
	font-size: 25px;
	margin-bottom: 10px;
}

section h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

/* Header */
header {
	position: absolute;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	top: 36px;
}

header>.container-large,
header>.container-large>.row,
header>.container-large>.row>div,
header nav {
	height: 100%;
}

header ul li {
	margin-left: 30px;
}

header ul {
	list-style: none;
	padding-left: unset;
	margin-bottom: unset;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

header a {
	color: black;
}

header a i {
	margin-right: 5px;
}

/* Footer */
footer {
	margin: 15px 0;
}

footer .development {
	text-align: right;
}

footer .copyright {
	text-align: center;
}

footer a {
	color: black;
}

footer a i {
	margin-right: 5px;
}

footer a:hover {
	color: black;
}

/* Blöcke */
.new-block-page table {
	width: 100%;
}

.new-block-page .button-wrapper {
	display: flex;
	flex-direction: row;
}

.new-block-page .button-wrapper button.add-field {
	margin-right: 15px;
}

.modal-header .close {
	margin-top: unset !important;
	position: absolute;
	top: 0;
	right: 15px;
}

.new-block-page table tr td:last-of-type button {
	margin-top: unset !important;
	background-color: transparent;
}

.new-block-page table tr td:last-of-type button:hover {
	color: red;
	opacity: 0.4;
}

.new-block-page form h3 {
	margin-top: 15px;
}

.new-block-page .field-actions {
	margin-top: 10px;
}

/*.new-block-page table tr td > i {
	padding: 5px 20px;
	cursor: pointer;
}

.new-block-page table tr td > i:hover {
	color:  red;
	opacity: 0.4;
}*/

.new-block-page table tr td:nth-last-child(2) {
	padding-left: 20px;
}

/* Seiten */
.pages {
	overflow-x: hidden;
}

.pages .blocks .block:first-of-type {
	padding-top: unset;
}

.pages .blocks .block:nth-of-type(even)::after {
	content: "";
	width: 500%;
	left: -200%;
	height: 100%;
	background-color: #f0f0f0;
	display: block;
	position: absolute;
	top: 0;
	z-index: -1;
}

.pages .blocks .block {
	position: relative;
	margin-bottom: 15px;
	padding: 15px 0;
}

.pages .page-list .row:nth-of-type(2) {
	font-weight: bold;
}

.pages .page-list .row {
	margin-top: 5px;
}

.pages .page-list a {
	width: calc(100% + 30px);
	display: flex;
	margin-left: -15px;
}

.pages .page-list a>* {
	padding-left: 15px;
}

.pages .page-list a:hover {
	text-decoration: none;
	color: black;
	position: relative;
}

.pages .page-list>div {
	position: relative;
}

.pages .page-list>div:not(:nth-of-type(-n+2)):hover::after {
	content: "";
	position: absolute;
	top: 0;
	left: 15px;
	right: 15px;
	z-index: -1;
	bottom: 0;
	background-color: #ccc;
}

.pages .page-list .row:first-of-type,
.pages .page-list .row:nth-of-type(2) {
	margin-top: unset;
}

/* Login */
.login-page .login-wrapper {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.login-page .login-form,
.login-page .login-background {
	width: 50%;
}

.login-page .login-form {
	margin: 0 auto;
	padding: 0 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-page .login-form a {
	color: black;
	margin-top: 30px;
}

.login-page {
	height: 100vh;
	position: relative;
}

.login-page>section,
.login-page>section>div {
	height: 100%;
	position: static;
}

/* Seite */
.field-gallery-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 0px !important;
}

.gallery-img-wrapper {
	position: relative;
	margin-right: 15px;
	margin-top: 15px;
}

.gallery-img-wrapper img {
	max-height: 250px;
	max-width: 100%;
	object-fit: contain;
}

.gallery-img-wrapper i {
	background-color: black;
	height: 30px;
	width: 30px;
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	cursor: pointer;
}

.gallery-img-wrapper i:first-of-type {
	left: 2%;
	top: 2%;
}

.gallery-img-wrapper i:nth-of-type(2) {
	right: calc(2% + 35px);
	bottom: 2%;
}

.gallery-img-wrapper i:nth-of-type(3) {
	right: 2%;
	bottom: 2%;
}

.gallery-img-wrapper:first-of-type i:nth-of-type(2),
.gallery-img-wrapper:last-of-type i:nth-of-type(3) {
	display: none;
	pointer-events: none;
}

.gallery-img-wrapper:last-of-type i:nth-of-type(2) {
	right: 2%;
}

.gallery-img-wrapper:last-of-type {
	margin-right: unset;
}

/* Cockpit */
.cockpit .chart {
	background-color: #302f2f;
	padding: 15px;
	margin: 15px 0;
	border-radius: 10px;
	color: white;
}

.cockpit .onlineVisitorChart {
	display: flex;
	align-items: center;
}

.cockpit .chart .chart-info {
	width: 40%;
	padding-right: 10px;
}

.cockpit .chart .chart-info p {
	font-size: 120%;
	font-weight: bold;
	line-height: 1.3;
}

.cockpit .chart .chart-info span {
	font-size: 160%;
	font-weight: bold;
	line-height: 1.1;
}

.cockpit .apexcharts-xaxis-label *,
.cockpit .apexcharts-yaxis-label *,
.cockpit .apexcharts-legend-text {
	fill: #fff;
	color: white !important;
}

.cockpit #visitorChart {
	min-height: unset !important;
}

.cockpit .browserChart {
	height: calc(100% - 30px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 180%;
	font-weight: 600;
}

.cockpit .browserChart img {
	height: 30px;
}

.cockpit .browserChart>div {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
	padding-top: 5px;
	min-width: 50px;
}

.cockpit .browserChart span {
	color: #b6b6b6;
}